<!DOCTYPE html>
<html>
  <head>
    <title>Sandwich</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Fonts -->

    <!-- React Login -->
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render( "api/users/user.json.jbuilder", user: current_user ).html_safe %>
      <% end %>
    </script>
    <!-- React Login End -->

    <!-- Google Map API -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBqsvOsC3Vz10r3WSLV23Zf4Ou4zfXFVDQ&libraries=places" %>
    <!-- Google Map API END -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
