<!DOCTYPE html>
<html>
  <head>
    <title>Sandwich</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://www.randyjap.com/sandwich_assets/layout/style.css" type="text/css">

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Fonts -->

    <!-- React Login -->
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render( "api/users/user.json.jbuilder", user: current_user ).html_safe %>
      <% end %>
    </script>
    <!-- React Login End -->

    <!-- Google Map API -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBqsvOsC3Vz10r3WSLV23Zf4Ou4zfXFVDQ&libraries=places" %>
    <!-- Google Map API END -->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">

  </head>

  <%= yield %>
  <script type="text/javascript" src="http://www.randyjap.com/sandwich_assets/layout/js/jquery.js"></script>
  <script type="text/javascript" src="http://www.randyjap.com/sandwich_assets/layout/js/plugins.js"></script>
  <script type="text/javascript" src="http://www.randyjap.com/sandwich_assets/layout/js/main.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</html>
